*~
*/bin/**
*/*/*/bin/**
*/*/*/obj/**
*/*/bin/**
*/*/obj/**
*/obj/**
*.userprefs
*.sdf
*.user
*.suo
project.lock.json
*.nuget.props
*.nuget.targets
/Tests/packages
/nupkgs/*.nupkg
/nupkgs/push.bat
/gen_nuspecs.exe
**/_._

