<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="mysqlitepclraw" value="./nupkgs" />
    <add key="sourcegear_see" value="https://nuget.sourcegear.com/see/nuget/index.json" />
    <add key="sourcegear_main" value="https://nuget.sourcegear.com/main/nuget/index.json" />
  </packageSources>
 <packageSourceCredentials>
    <sourcegear_see>
        <add key="Username" value="sqlitepclraw_build" />
        <add key="ClearTextPassword" value="%SG_NUGET_TOKEN%" />
    </sourcegear_see>
    <sourcegear_main>
        <add key="Username" value="sqlitepclraw_build" />
        <add key="ClearTextPassword" value="%SG_NUGET_TOKEN%" />
    </sourcegear_main>
  </packageSourceCredentials>
</configuration>
