<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.0.1" targetFramework="wp8" />
  <package id="NETStandard.Library" version="1.6.0" targetFramework="wp8" />
  <package id="SQLitePCL.bundle_e_sqlite3" version="0.9.4-pre20160822082757" targetFramework="wp8" />
  <package id="SQLitePCL.lib.e_sqlite3.v110_wp80" version="0.9.4-pre20160822082757" targetFramework="wp8" />
  <package id="SQLitePCL.provider.e_sqlite3.wp80" version="0.9.4-pre20160822082757" targetFramework="wp8" />
  <package id="SQLitePCL.raw" version="0.9.4-pre20160822082757" targetFramework="wp8" />
  <package id="SQLitePCL.tests" version="0.9.4-pre20160822082757" targetFramework="wp8" />
  <package id="SQLitePCL.ugly" version="0.9.4-pre20160822082757" targetFramework="wp8" />
  <package id="System.Collections" version="4.0.11" targetFramework="wp8" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="wp8" />
  <package id="System.Diagnostics.Tools" version="4.0.1" targetFramework="wp8" />
  <package id="System.Globalization" version="4.0.11" targetFramework="wp8" />
  <package id="System.IO" version="4.1.0" targetFramework="wp8" />
  <package id="System.Linq" version="4.1.0" targetFramework="wp8" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="wp8" />
  <package id="System.Net.Primitives" version="4.0.11" targetFramework="wp8" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="wp8" />
  <package id="System.Reflection" version="4.1.0" targetFramework="wp8" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="wp8" />
  <package id="System.Reflection.Primitives" version="4.0.1" targetFramework="wp8" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="wp8" />
  <package id="System.Runtime" version="4.1.0" targetFramework="wp8" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="wp8" />
  <package id="System.Text.Encoding" version="4.0.11" targetFramework="wp8" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11" targetFramework="wp8" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="wp8" />
  <package id="System.Threading" version="4.0.11" targetFramework="wp8" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="wp8" />
  <package id="System.Xml.ReaderWriter" version="4.0.11" targetFramework="wp8" />
  <package id="System.Xml.XDocument" version="4.0.11" targetFramework="wp8" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp8" />
  <package id="Xamarin.Forms" version="2.3.0.49" targetFramework="wp8" />
  <package id="xunit" version="2.1.0" targetFramework="wp8" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="wp8" />
  <package id="xunit.assert" version="2.1.0" targetFramework="wp8" />
  <package id="xunit.core" version="2.1.0" targetFramework="wp8" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="wp8" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="wp8" />
  <package id="xunit.runner.devices" version="2.1.0" targetFramework="wp8" />
  <package id="xunit.runner.utility" version="2.1.0" targetFramework="wp8" />
</packages>